@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* Variáveis */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-family: 'Outfit', sans-serif;
  --font-size: 15px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-gray);
}

.card {
  background: var(--white);
  padding: 15px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0px 6px 10px var(--grayish-blue);
}

img {
  width: 100%;
  border-radius: 10px;
}

/* Obs */
/* img {
  width: 290px;
  border-radius: 10px;
} */

h2 {
  color: var(--dark-blue);
  font-size: 21px;
  text-align: center;
  margin: 20px 15px;
}

p {
  color: var(--grayish-blue);
  text-align: center;
  margin: 20px 15px;
}
